// Variables globales de Quasar (overrides de estilos)
$primary: #1f9d4a;
$secondary: #166b36;
$accent: #2ecc71;

$dark: #1d1d1d;
$dark-page: #121212;

$positive: #1f9d4a;
$negative: #c10015;
$info: #2ecc71;
$warning: #f2c037;
